In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [2]:
#Readind data from json
df1 = pd.read_csv('cleaned_df.csv')
df = df1.copy() 
df.head()

,make_model,make,price,body_type,type,doors,warranty,mileage,gearbox,seller,...,empty_weight,full_service_history,non_smoker_vehicle,upholstery,previous_owner,energy_efficiency_class,avg_fuel_consumption,horsepower,categorized_fuel_type,age
0,Mercedes-Benz A 160,Mercedes-Benz,16950.0,Compact,Used,5.0,24.0,120200.0,Manual,Dealer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Diesel,6.0
1,Mercedes-Benz EQE 350,Mercedes-Benz,80900.0,Compact,Pre-registered,4.0,24.0,5000.0,Automatic,Dealer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,292.0,Electric,0.0
2,Mercedes-Benz A 45 AMG,Mercedes-Benz,69900.0,Compact,Used,5.0,12.0,18900.0,Automatic,Dealer,...,NaN,NaN,NaN,NaN,NaN,NaN,8.4,421.0,Benzine,2.0
3,Mercedes-Benz A 35 AMG,Mercedes-Benz,46990.0,Compact,Used,5.0,12.0,18995.0,Automatic,Dealer,...,NaN,NaN,NaN,NaN,NaN,NaN,7.3,306.0,Benzine,2.0
4,Mercedes-Benz A 45 AMG,Mercedes-Benz,16800.0,Compact,Used,5.0,12.0,197000.0,Automatic,Dealer,...,1545.0,NaN,NaN,NaN,NaN,NaN,4.9,136.0,Diesel,7.0

In [3]:
#Info of Dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29480 entries, 0 to 29479
Data columns (total 30 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   make_model               28630 non-null  object
 1   make                     28630 non-null  object
 2   price                    28630 non-null  float64
 3   body_type                28630 non-null  object
 4   type                     28630 non-null  object
 5   doors                    28271 non-null  float64
 6   warranty                 13465 non-null  float64
 7   mileage                  28629 non-null  float64
 8   gearbox                  28382 non-null  object
 9   seller                   28630 non-null  object
 10  seats                    25505 non-null  float64
 11  engine_size              27227 non-null  float64
 12  gears                    18954 non-null  float64
 13  co2_emissions            18594 non-null  float64
 14  drivetrain               16893 non-null  object
 15  cylinders                18852 non-null  float64
 16  comfort_convenience      25433 non-null  object
 17  entertainment_media      23644 non-null  object
 18  safety_security          25415 non-null  object
 19  extras                   23480 non-null  object
 20  empty_weight             17758 non-null  float64
 21  full_service_history     12565 non-null  object
 22  non_smoker_vehicle       11594 non-null  object
 23  upholstery               18610 non-null  object
 24  previous_owner           14015 non-null  float64
 25  energy_efficiency_class  7804 non-null   object
 26  avg_fuel_consumption     19897 non-null  float64
 27  horsepower               28054 non-null  float64
 28  categorized_fuel_type    26843 non-null  object
 29  age                      28628 non-null  float64
dtypes: float64(14), object(16)
memory usage: 6.7+ MB

In [4]:
df.columns

Index(['make_model', 'make', 'price', 'body_type', 'type', 'doors', 'warranty',
       'mileage', 'gearbox', 'seller', 'seats', 'engine_size', 'gears',
       'co2_emissions', 'drivetrain', 'cylinders', 'comfort_convenience',
       'entertainment_media', 'safety_security', 'extras', 'empty_weight',
       'full_service_history', 'non_smoker_vehicle', 'upholstery',
       'previous_owner', 'energy_efficiency_class', 'avg_fuel_consumption',
       'horsepower', 'categorized_fuel_type', 'age'],
      dtype='object')

In [5]:
#Null Value Analysis Function
def analyze_null_values(df):
    """
    Compute null value counts and percentages for each column in a DataFrame.
    
    Parameters:
    df (pandas.DataFrame): Input DataFrame to analyze
    
    Returns:
    pandas.DataFrame: DataFrame with null count and percentage for each column
    """
    # Calculate null counts
    null_counts = df.isnull().sum()
    
    # Calculate null percentages
    null_percentages = (df.isnull().sum() / len(df)) * 100
    
    # Combine into a single DataFrame
    null_analysis = pd.DataFrame({
        'Null Count': null_counts,
        'Null Percentage': null_percentages.round(2)
    })
    
    return null_analysis.sort_values(by='Null Percentage')


null_summary = analyze_null_values(df)
null_summary

                         Null Count  Null Percentage
make_model                      850             2.88
make                            850             2.88
price                           850             2.88
body_type                       850             2.88
type                            850             2.88
seller                          850             2.88
mileage                         851             2.89
age                             852             2.89
gearbox                        1098             3.72
doors                          1209             4.10
horsepower                     1426             4.84
engine_size                    2253             7.64
categorized_fuel_type          2637             8.95
seats                          3975            13.48
comfort_convenience            4047            13.73
safety_security                4065            13.79
entertainment_media            5836            19.80
extras                         6000            20.35
avg_fuel_consumption           9583            32.51
gears                         10526            35.71
cylinders                     10628            36.05
upholstery                    10870            36.87
co2_emissions                 10886            36.93
empty_weight                  11722            39.76
drivetrain                    12587            42.70
previous_owner                15465            52.46
warranty                      16015            54.32
full_service_history          16915            57.38
non_smoker_vehicle            17886            60.67
energy_efficiency_class       21676            73.53

In [6]:
# List of columns with 850 nulls
columns_with_850_nulls = ['make_model', 'make','price', 'body_type', 'type', 'seller']

# Filter the rows where the specified columns have null values
null_rows = df[df[columns_with_850_nulls].isnull().any(axis=1)]

# Display the rows with null values
null_rows

,make_model,make,price,body_type,type,doors,warranty,mileage,gearbox,seller,...,empty_weight,full_service_history,non_smoker_vehicle,upholstery,previous_owner,energy_efficiency_class,avg_fuel_consumption,horsepower,categorized_fuel_type,age
1785,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1814,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29445,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29451,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29473,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29479,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Drop rows where all the specified columns are NaN
df_cleaned = df.dropna(subset=columns_with_850_nulls, how='all')
# Display the cleaned DataFrame
df_cleaned

,make_model,make,price,body_type,type,doors,warranty,mileage,gearbox,seller,...,empty_weight,full_service_history,non_smoker_vehicle,upholstery,previous_owner,energy_efficiency_class,avg_fuel_consumption,horsepower,categorized_fuel_type,age
0,Mercedes-Benz A 160,Mercedes-Benz,16950.0,Compact,Used,5.0,24.0,120200.0,Manual,Dealer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Diesel,6.0
1,Mercedes-Benz EQE 350,Mercedes-Benz,80900.0,Compact,Pre-registered,4.0,24.0,5000.0,Automatic,Dealer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,292.0,Electric,0.0
2,Mercedes-Benz A 45 AMG,Mercedes-Benz,69900.0,Compact,Used,5.0,12.0,18900.0,Automatic,Dealer,...,NaN,NaN,NaN,NaN,NaN,NaN,8.4,421.0,Benzine,2.0
3,Mercedes-Benz A 35 AMG,Mercedes-Benz,46990.0,Compact,Used,5.0,12.0,18995.0,Automatic,Dealer,...,NaN,NaN,NaN,NaN,NaN,NaN,7.3,306.0,Benzine,2.0
4,Mercedes-Benz A 45 AMG,Mercedes-Benz,16800.0,Compact,Used,5.0,12.0,197000.0,Automatic,Dealer,...,1545.0,NaN,NaN,NaN,NaN,NaN,4.9,136.0,Diesel,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29474,Volvo S90,Volvo,37600.0,Sedan,Used,4.0,12.0,40345.0,Automatic,Dealer,...,2077.0,NaN,NaN,NaN,NaN,NaN,NaN,392.0,NaN,3.0
29475,Volvo S40,Volvo,5499.0,Sedan,Used,4.0,NaN,145000.0,Automatic,Dealer,...,1357.0,Yes,NaN,NaN,NaN,NaN,9.1,170.0,Benzine,18.0
29476,Volvo C30,Volvo,7300.0,Sedan,Used,3.0,13.0,96000.0,Manual,Dealer,...,1356.0,Yes,NaN,NaN,1.0,NaN,3.8,114.0,Diesel,11.0
29477,Volvo S90,Volvo,29900.0,Sedan,Used,4.0,12.0,94343.0,Automatic,Dealer,...,1617.0,Yes,NaN,Full leather,NaN,NaN,6.5,254.0,Benzine,5.0
29478,Volvo S80,Volvo,4440.0,Sedan,Used,4.0,NaN,230047.0,Automatic,Dealer,...,1573.0,NaN,NaN,Full leather,5.0,NaN,10.4,200.0,Benzine,20.0

In [8]:
print(df_cleaned.duplicated().value_counts())
df_cleaned = df_cleaned.drop_duplicates()

False    24462
True      4168
Name: count, dtype: int64

In [9]:
analyze_null_values(df_cleaned)

                         Null Count  Null Percentage
make_model                        0             0.00
make                              0             0.00
price                             0             0.00
body_type                         0             0.00
type                              0             0.00
seller                            0             0.00
mileage                           1             0.00
age                               2             0.01
gearbox                         233             0.95
doors                           338             1.38
horsepower                      561             2.29
engine_size                    1270             5.19
categorized_fuel_type          1554             6.35
comfort_convenience            2432             9.94
safety_security                2447            10.00
seats                          2507            10.25
entertainment_media            3787            15.48
extras                         4046            16.54
upholstery                     7527            30.77
co2_emissions                  7530            30.78
avg_fuel_consumption           7597            31.06
cylinders                      8344            34.11
gears                          8398            34.33
empty_weight                   9344            38.20
drivetrain                    10382            42.44
previous_owner                11576            47.32
full_service_history          12943            52.91
non_smoker_vehicle            13808            56.45
warranty                      13966            57.09
energy_efficiency_class       17333            70.86

In [10]:
# Filter the rows where the specified columns have null values
null_rows = df_cleaned[df_cleaned[['age', 'mileage']].isnull().any(axis=1)].T
null_rows

,683,10870,17219
make_model,Mercedes-Benz E 53 AMG,Fiat 500X,Toyota Corolla
make,Mercedes-Benz,Fiat,Toyota
price,108900.0,41570.0,33999.0
body_type,Convertible,Off-Road/Pick-up,Compact
type,Demonstration,Demonstration,Demonstration
doors,2.0,5.0,5.0
warranty,24.0,NaN,NaN
mileage,3856.0,NaN,2494.0
gearbox,Automatic,Automatic,Automatic
seller,Dealer,Dealer,Dealer
seats,4.0,5.0,NaN
engine_size,2999.0,1469.0,1987.0
gears,8.0,7.0,NaN
co2_emissions,219.0,NaN,89.0
drivetrain,4WD,NaN,NaN
cylinders,NaN,4.0,4.0
comfort_convenience,"360Â° camera, Air conditioning, Automatic clima...","Air conditioning, Armrest, Automatic climate c...","Air conditioning, Armrest, Automatic climate c..."
entertainment_media,"Android Auto, Apple CarPlay, Bluetooth, CD pla...","Android Auto, Apple CarPlay, Radio","Android Auto, Apple CarPlay, Bluetooth, Digita..."
safety_security,"Alarm system, Central door lock, Driver-side a...","ABS, Central door lock, Central door lock with...","ABS, Daytime running lights, Distance warning ..."
extras,"Alloy wheels, Ambient lighting, Automatically ...","Alloy wheels, Electronic parking brake, Emerge...","Alloy wheels, Automatically dimming interior m..."
empty_weight,NaN,1380.0,1315.0
full_service_history,NaN,NaN,Yes
non_smoker_vehicle,Yes,NaN,NaN
upholstery,Full leather,Full leather,Cloth
previous_owner,NaN,NaN,NaN
energy_efficiency_class,NaN,NaN,NaN
avg_fuel_consumption,NaN,NaN,NaN
horsepower,435.0,131.0,184.0
categorized_fuel_type,Benzine,NaN,Benzine
age,NaN,0.0,NaN

In [11]:
fiat_500x = df_cleaned[df_cleaned['make_model']=='Fiat 500X']
print('Age 0.0 Mean Mileage: ',fiat_500x[fiat_500x['age']==0.0]['mileage'].mean())
print('Fiat 500X Mean Mileage: ',fiat_500x['mileage'].mean())
df_cleaned.loc[10870,'mileage'] = int(fiat_500x[fiat_500x['age']==0.0]['mileage'].mean())

Age 0.0 Mean Mileage:  1470.5106382978724
Fiat 500X Mean Mileage:  44777.68253968254

In [12]:
df_cleaned.loc[10870,'mileage']

np.float64(1470.0)

In [13]:
mercedesbenz_e53_amg = df_cleaned[df_cleaned['make_model']=='Mercedes-Benz E 53 AMG']
print(mercedesbenz_e53_amg.shape)
print(mercedesbenz_e53_amg[['price','mileage','age']].sort_values(by='mileage'))

(26, 30)
         price   mileage  age
2118  109989.0    3000.0  0.0
883    95500.0    3023.0  0.0
1805   88755.0    3079.0  0.0
683   108900.0    3856.0  NaN
1107   91585.0    4900.0  0.0
920    92995.0    8430.0  1.0
747   102990.0    9000.0  0.0
1104   89685.0    9500.0  0.0
954   106890.0    9900.0  0.0
2252  117203.0   10500.0  1.0
1810   65950.0   11289.0  3.0
750    98900.0   15632.0  1.0
791    95900.0   18143.0  1.0
837    93999.0   19563.0  1.0
1841   58950.0   22000.0  3.0
865    69980.0   24789.0  3.0
339    82500.0   27188.0  4.0
2125   83900.0   28000.0  1.0
1075   67940.0   29035.0  3.0
1663   54880.0   35550.0  4.0
573   107290.0   39757.0  1.0
1926   59399.0   48500.0  3.0
2076   59849.0   61840.0  3.0
826    59950.0   96000.0  3.0
1622   40999.0  174717.0  3.0
1626   40999.0  174717.0  3.0

In [14]:
df_cleaned.loc[683,'age'] = 0.0

In [15]:
toyota_corolla = df_cleaned[df_cleaned['make_model']=='Toyota Corolla']
print(toyota_corolla.shape)
with pd.option_context('display.max_rows', None, 'display.max_columns', None): 
    print(toyota_corolla['age'].mean())
    print(toyota_corolla[toyota_corolla['mileage']<=2494]['age'].mean())
    print(toyota_corolla[toyota_corolla['engine_size']==1987]['age'].mean())
    print(toyota_corolla[['engine_size','mileage','price','age']].sort_values(by='price',ascending=False))

(184, 30)
4.404371584699454
0.22727272727272727
1.356164383561644
       engine_size   mileage    price   age
18469       1987.0      17.0  43950.0   0.0
18543       1987.0      10.0  40899.0   0.0
18354       1987.0   11104.0  39950.0   3.0
18406       1987.0     500.0  39480.0   0.0
17221       1987.0   50000.0  36995.0   1.0
18502       1987.0      10.0  36390.0   0.0
18383       1987.0    9990.0  36020.0   0.0
18518       1987.0    3562.0  35990.0   0.0
18412       1987.0   11000.0  35900.0   1.0
18508       1987.0      20.0  34990.0   0.0
19051       1987.0   12557.0  34088.0   1.0
17219       1987.0    2494.0  33999.0   NaN
18705       1987.0    1380.0  33990.0   0.0
18865       1987.0      20.0  33990.0   0.0
18816       1987.0    1500.0  33490.0   0.0
18549       1987.0    5000.0  33125.0   0.0
18495       1987.0    4500.0  32990.0   0.0
18459       1987.0      20.0  32990.0   0.0
18526       1987.0   15900.0  32890.0   0.0
19125       1798.0    4068.0  32156.0   1.0
18458       1987.0      10.0  31998.0   1.0
18451       1987.0   40601.0  31995.0   2.0
18520       1798.0   20000.0  31995.0   1.0
18764       1987.0    5000.0  31989.0   0.0
18700       1987.0    6995.0  31900.0   0.0
18474          NaN       5.0  31900.0   0.0
18714       1987.0   10244.0  31900.0   0.0
18656       1987.0   20679.0  31690.0   2.0
18388       1987.0      10.0  31490.0   0.0
18479       1987.0   15500.0  31488.0   1.0
18396       1987.0   17900.0  31480.0   1.0
18489       1987.0    1000.0  31190.0   1.0
18617       1987.0   21000.0  30990.0   1.0
18570       1987.0   36500.0  30990.0   2.0
18568       1987.0   22000.0  30990.0   1.0
18625       1987.0   36400.0  30990.0   2.0
17330       1987.0    9130.0  30950.0   1.0
18528       1798.0    4318.0  30899.0   1.0
17326       1987.0   21184.0  30899.0   2.0
18801       1987.0    4300.0  30450.0   0.0
18794       1798.0    4900.0  30350.0   0.0
18875       1798.0      10.0  30350.0   0.0
18461       1987.0   20536.0  29990.0   1.0
18500       1987.0   35286.0  29990.0   3.0
18385       1987.0   28569.0  29990.0   1.0
18834       1987.0      20.0  29990.0   0.0
17212       1987.0    3320.0  29900.0   3.0
18418       1987.0   12500.0  29900.0   2.0
18519       1798.0   33920.0  29899.0   1.0
18531       1798.0   45994.0  29899.0   1.0
19122       1987.0    1500.0  29890.0   0.0
18372       1987.0   39911.0  29750.0   1.0
18483       1987.0   28571.0  29650.0   1.0
17763       1576.0  200000.0  29500.0  37.0
18387       1987.0   23930.0  29490.0   1.0
18507       1987.0   38000.0  29480.0   1.0
18523       1798.0   23000.0  29450.0   1.0
18400       1987.0   24057.0  29250.0   1.0
18407       1987.0   17350.0  28990.0   1.0
18482       1798.0    5395.0  28990.0   1.0
18484       1798.0   11750.0  28990.0   1.0
18490       1798.0   21852.0  28900.0   1.0
18534       1987.0   45607.0  28900.0   3.0
18497       1798.0   29357.0  28700.0   1.0
19113       1798.0     900.0  28690.0   0.0
18672       1987.0    5882.0  28636.0   0.0
18446       1987.0   61551.0  28500.0   2.0
18503       1798.0   19927.0  28490.0   1.0
18436       1798.0   41997.0  28400.0   1.0
18411       1798.0   25258.0  27990.0   1.0
18413       1798.0   11000.0  27990.0   1.0
18527       1798.0   26000.0  27990.0   1.0
18536       1798.0   23889.0  27990.0   1.0
18521       1798.0   34000.0  27990.0   1.0
19028       1987.0   18250.0  27989.0   0.0
18550       1987.0   48580.0  27980.0   3.0
18473       1798.0   51985.0  27950.0   1.0
18609       1798.0   23100.0  27910.0   1.0
17278       1987.0    4787.0  27900.0   1.0
18574       1987.0   43000.0  27900.0   3.0
18430       1798.0   89107.0  27700.0   1.0
18402       1987.0   38900.0  27680.0   1.0
18514       1798.0   33000.0  27490.0   1.0
18540       1798.0   27500.0  27490.0   1.0
17253       1987.0   60927.0  27450.0   3.0
18449       1798.0   75908.0  27400.0   1.0
18533       1798.0   45803.0  27299.0   1.0
18399       1798.0   24900.0  26950.0   1.0
17364       1987.0   22769.0  26950.0   2.0
18435       1798.0   93784.0  26900.0   1.0
18491       1798.0   37239.0  26900.0   1.0
19005       1200.0       1.0  26900.0   1.0
18541       1798.0   45096.0  26899.0   1.0
18423       1987.0   27681.0  26840.0   2.0
18553       1987.0   17227.0  26800.0   3.0
18538       1798.0   48486.0  26699.0   1.0
18542       1798.0   26200.0  26500.0   1.0
18522       1798.0   37391.0  26499.0   1.0
17817       1987.0   11000.0  26490.0   3.0
18501       1987.0   49374.0  26000.0   3.0
18789       1987.0   29880.0  25990.0   3.0
18356       1987.0   46500.0  25900.0   3.0
18795       1987.0   28495.0  25790.0   2.0
18517       1798.0   20000.0  25490.0   1.0
18870       1987.0   26166.0  24990.0   3.0
18378       1987.0   44700.0  24989.0   3.0
19007       1197.0       1.0  24950.0   1.0
18548       1798.0   39085.0  24950.0   2.0
17942       1600.0  210000.0  24900.0  36.0
19084       1798.0   29629.0  24800.0   2.0
18555       1798.0   18301.0  24795.0   1.0
18559       1798.0   12807.0  24795.0   1.0
18763       1987.0   50470.0  24770.0   3.0
18424       1798.0       3.0  24600.0   0.0
18804       1798.0   34350.0  24490.0   3.0
18886       1798.0   20300.0  23990.0   2.0
18640       1798.0   23000.0  23990.0   2.0
17264       1798.0   41090.0  23950.0   1.0
19060       1798.0   14725.0  23900.0   2.0
18478       1987.0   41343.0  23900.0   3.0
18370       1197.0   16010.0  23890.0   0.0
18390       1197.0    4900.0  23650.0   1.0
18838          NaN   50300.0  23490.0   3.0
18815       1987.0   47850.0  23450.0   3.0
18465       1987.0   78535.0  23249.0   3.0
18885       1197.0      78.0  22990.0   0.0
19026       1987.0   29900.0  22990.0   2.0
19041       2000.0   19843.0  22754.0   3.0
18684       1798.0   24927.0  22718.0   2.0
17481       1598.0  185000.0  22500.0  36.0
18511       1798.0   70989.0  22500.0   3.0
17476       1576.0  185000.0  22500.0  36.0
18909       1197.0    1122.0  22490.0   1.0
18907       1798.0   24697.0  22490.0   3.0
18889       1197.0    9517.0  21990.0   1.0
17152       1798.0   33416.0  21900.0   1.0
19040       1798.0   14947.0  21900.0   1.0
18421          NaN   58200.0  21750.0   2.0
19123       1798.0   35888.0  21480.0   3.0
18693       1800.0   46000.0  20990.0   3.0
18898       1798.0   25000.0  20990.0   2.0
18927       1798.0   68216.0  20900.0   2.0
17033       1987.0   60000.0  20900.0   3.0
18498          NaN   30000.0  20900.0   3.0
19053       1798.0   29425.0  20899.0   2.0
18682       1798.0  111095.0  20490.0   3.0
18382       1798.0   56900.0  20489.0   3.0
18945       1800.0   35922.0  20026.0   3.0
18506       1798.0   11000.0  19995.0   2.0
19148       1197.0    8800.0  19990.0   2.0
18395       1197.0   35223.0  19990.0   2.0
18797       1798.0   76400.0  19989.0   3.0
17201       1796.0   95132.0  19945.0  16.0
19030       1798.0   46972.0  19900.0   3.0
18882       1798.0   69557.0  19590.0   2.0
18731       1197.0   28607.0  19490.0   3.0
18529       1197.0   25150.0  19489.0   3.0
19108       1197.0   12287.0  19450.0   2.0
18883       1197.0   19280.0  18990.0   3.0
18851       1197.0   21574.0  18900.0   2.0
18856       1798.0   67731.0  18900.0   3.0
18868       1197.0   23675.0  18800.0   3.0
18872       1798.0   47275.0  18500.0   3.0
18771       1598.0   52350.0  18440.0   4.0
19078       1197.0   28500.0  17450.0   3.0
17053       1798.0  108512.0  16900.0   3.0
18796       1598.0   54856.0  15490.0   6.0
17802       1158.0   73000.0  12900.0  44.0
17718          NaN  120086.0  11886.0  35.0
17919       1796.0   58200.0   9990.0  20.0
17866          NaN  134000.0   9500.0  32.0
17894       1298.0  136000.0   8900.0  41.0
17014       1598.0   49000.0   8590.0  14.0
17214       1796.0  185934.0   7245.0  19.0
17242       1598.0  119257.0   6990.0  16.0
19093       1364.0  125565.0   5400.0  15.0
17271       1398.0   68671.0   4950.0  18.0
17233       1598.0  155469.0   4750.0  16.0
17231       1398.0  173737.0   4445.0  17.0
17834          NaN  153704.0   2800.0  20.0
18752       1598.0  261259.0   2699.0  20.0
17244       1332.0  107523.0   1950.0  24.0
19129       1332.0  153289.0   1950.0  26.0
18976       1600.0  145554.0   1900.0  22.0

In [16]:
df_cleaned.loc[17219,'age'] = 0.0

In [17]:
df_cleaned['full_service_history'].value_counts()

full_service_history
Yes    11519
Name: count, dtype: int64

In [18]:
df_cleaned['non_smoker_vehicle'].value_counts()

non_smoker_vehicle
Yes    10654
Name: count, dtype: int64

In [19]:
df_cleaned.loc[df_cleaned['full_service_history'].isna(), 'full_service_history'] = 'No'
df_cleaned.loc[df_cleaned['non_smoker_vehicle'].isna(), 'non_smoker_vehicle'] = 'No'

In [20]:
analyze_null_values(df_cleaned)

                         Null Count  Null Percentage
make_model                        0             0.00
non_smoker_vehicle                0             0.00
full_service_history              0             0.00
seller                            0             0.00
mileage                           0             0.00
age                               0             0.00
type                              0             0.00
body_type                         0             0.00
make                              0             0.00
price                             0             0.00
gearbox                         233             0.95
doors                           338             1.38
horsepower                      561             2.29
engine_size                    1270             5.19
categorized_fuel_type          1554             6.35
comfort_convenience            2432             9.94
safety_security                2447            10.00
seats                          2507            10.25
entertainment_media            3787            15.48
extras                         4046            16.54
upholstery                     7527            30.77
co2_emissions                  7530            30.78
avg_fuel_consumption           7597            31.06
cylinders                      8344            34.11
gears                          8398            34.33
empty_weight                   9344            38.20
drivetrain                    10382            42.44
previous_owner                11576            47.32
warranty                      13966            57.09
energy_efficiency_class       17333            70.86

In [21]:
filling_nulls_with_mode = ['gearbox', 'doors','horsepower','engine_size', 
                           'categorized_fuel_type','seats','gears','cylinders',
                           'upholstery','empty_weight','drivetrain', 'co2_emissions','avg_fuel_consumption']

In [22]:
# Calculate the mode for horsepower for each make_model
mode_per_group = df.groupby('make_model')['horsepower'].apply(lambda x: x.mode().iloc[0] if not x.mode().empty else None)

mode_per_group

make_model
Dacia                       45.0
Dacia Break                  NaN
Dacia Dokker                75.0
Dacia Duster               109.0
Dacia Jogger               110.0
                           ...
Volvo V90 Cross Country    190.0
Volvo XC40                 190.0
Volvo XC60                 190.0
Volvo XC70                 163.0
Volvo XC90                 235.0
Name: horsepower, Length: 611, dtype: float64

In [23]:
cleaned_df = df_cleaned.copy()

In [24]:
cleaned_df.shape

(24462, 30)

In [25]:
def fill_na_with_mode(df, column, group_by_hierarchy):
    """
    Fill NA values in a specified column of a DataFrame by using the mode 
    from a hierarchical grouping approach.

    Parameters:
    - df (DataFrame): The input DataFrame.
    - column (str): The name of the column to fill NA values for.
    - group_by_hierarchy (list of str): A list of column names representing 
      the hierarchy for grouping (from most specific to least specific).
    """
    # Create a copy to avoid modifying the original DataFrame
    df_filled = df.copy()
    
    # Iterate over the group by hierarchy
    for group_by in group_by_hierarchy:
        # Filter rows that still have NA in the target column after previous iterations
        rows_to_fill = df_filled[column].isna()
        
        if rows_to_fill.any():
            # Calculate the mode for each group using all non-NA values
            mode_values = df_filled.groupby(group_by)[column].transform(
                lambda x: x.mode().iloc[0] if not x.mode().empty else None
            )
            
            # Fill NA values in the original DataFrame with the calculated modes
            df_filled.loc[rows_to_fill, column] = mode_values[rows_to_fill]
    
    return df_filled

In [26]:
# Define the hierarchy for filling NA values
hierarchy = ['make_model', 'make']

# Columns to fill NA values for
columns_to_fill = filling_nulls_with_mode 

# Apply the function to each column
for column in columns_to_fill:
    cleaned_df = fill_na_with_mode(cleaned_df, column, hierarchy)

# Display DataFrame After Filling NA Values
#print("\nDataFrame After Filling NA Values:")
#print(cleaned_df)

# Optionally, check if any NA values remain
for column in columns_to_fill:
    if cleaned_df[column].isna().any():
        print(f"\nWarning: NA values remain in column '{column}' after filling.")
    else:
        print(f"\nAll NA values filled in column '{column}'.")

All NA values filled in column 'gearbox'.

All NA values filled in column 'doors'.

All NA values filled in column 'horsepower'.

All NA values filled in column 'engine_size'.

All NA values filled in column 'categorized_fuel_type'.

All NA values filled in column 'seats'.

All NA values filled in column 'gears'.

All NA values filled in column 'cylinders'.

All NA values filled in column 'upholstery'.

All NA values filled in column 'empty_weight'.

All NA values filled in column 'drivetrain'.

All NA values filled in column 'co2_emissions'.

All NA values filled in column 'avg_fuel_consumption'.

In [27]:
null_mask = df_cleaned[df_cleaned[['gearbox', 'doors']].isnull().any(axis=1)][['make_model','gearbox', 'doors']]
null_mask
cleaned_df.loc[null_mask.index][['make_model','gearbox', 'doors','full_service_history']].sample(5)

            make_model    gearbox  doors full_service_history
29271       Volvo XC60  Automatic    5.0                   No
9638     Fiat Seicento     Manual    3.0                  Yes
20650    Nissan Murano  Automatic    4.0                   No
25506  Hyundai IONIQ 5  Automatic    5.0                   No
6278    Renault Kadjar     Manual    5.0                   No

In [28]:
analyze_null_values(cleaned_df)
cleaned_df.shape

(24462, 30)

In [29]:
# Sort the DataFrame by 'age' 
cleaned_df = cleaned_df.sort_values(by='age', ascending=True)
# Forward and backward fill within make_model groups
cleaned_df['previous_owner'] = (
    cleaned_df.groupby('make_model')['previous_owner']
    .transform(lambda x: x.ffill().bfill())
)
if cleaned_df['previous_owner'].isna().sum()>0:
    cleaned_df['previous_owner'] = (
    cleaned_df.groupby('make')['previous_owner']
    .transform(lambda x: x.ffill().bfill()))

In [30]:
# Sort the DataFrame by 'age' 
cleaned_df = cleaned_df.sort_values(by='age', ascending=True)
# Forward and backward fill within make_model groups
cleaned_df['warranty'] = (
    cleaned_df.groupby('make_model')['warranty']
    .transform(lambda x: x.ffill().bfill())
)
if cleaned_df['warranty'].isna().sum()>0:
    cleaned_df['warranty'] = (
    cleaned_df.groupby('make')['warranty']
    .transform(lambda x: x.ffill().bfill()))

In [31]:
cleaned_df[['previous_owner','warranty']].isna().sum()

previous_owner    0
warranty          0
dtype: int64

In [32]:
cleaned_df[cleaned_df['previous_owner']>=2][['age','make_model','previous_owner','warranty']].sample(15)

        age      make_model  previous_owner  warranty
6598   16.0  Renault Megane             2.0      36.0
8956   13.0     Peugeot 308             2.0      12.0
20569  15.0     Nissan Note             3.0      12.0
20220   2.0  Nissan Qashqai             2.0      12.0
4157    2.0      Opel Astra             2.0      60.0
5281   18.0  Renault Megane             2.0      12.0
23122   3.0     Ford Mondeo             2.0      12.0
5441   16.0  Renault Megane             2.0      36.0
7826    9.0     Peugeot 308             2.0      12.0
8088   17.0     Peugeot 407             3.0       3.0
6020    7.0  Renault Captur             2.0      12.0
19677  14.0    Nissan Micra             2.0      12.0
5682    5.0    Renault Clio             3.0       6.0
5295   22.0  Renault Megane             2.0      12.0
21452   2.0      Ford Focus             2.0      21.0

In [33]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(cleaned_df.groupby(['make_model'])[['make','price','mileage','age','previous_owner','warranty']].sample(1))

                make     price   mileage   age  previous_owner  warranty
15464          Dacia   22299.0     110.0   0.0             1.0      36.0
16536          Dacia   20500.0     999.0   0.0             1.0      12.0
16137          Dacia   12490.0  100000.0   4.0             2.0      12.0
16591          Dacia   17490.0      10.0   5.0             1.0      24.0
16273          Dacia   20799.0      12.0   0.0             1.0      36.0
16366          Dacia   13990.0  120836.0   5.0             2.0      12.0
16212          Dacia   13990.0   33161.0   4.0             1.0      12.0
16993          Dacia    8754.0   66481.0   4.0             1.0      12.0
15404          Dacia   22985.0    4999.0   1.0             1.0      36.0
10511           Fiat   39000.0   50000.0  55.0             2.0      12.0
10552           Fiat   50000.0      55.0  50.0             3.0       6.0
10105           Fiat   19900.0   60080.0   4.0             2.0      12.0
9722            Fiat   10000.0   20500.0  23.0             2.0      12.0
10617           Fiat   18900.0   26585.0  43.0             3.0      12.0
11773           Fiat    6900.0   48000.0  52.0             2.0       6.0
10569           Fiat   22500.0   65000.0  46.0             1.0      12.0
10428           Fiat   24500.0       1.0  34.0             2.0      12.0
10701           Fiat    5900.0   81480.0  56.0             1.0       6.0
9983            Fiat   12490.0  111566.0   9.0             1.0      12.0
10236           Fiat   19990.0      10.0   0.0             1.0       0.0
11922           Fiat   14999.0   44000.0   5.0             1.0      12.0
11163           Fiat   16900.0   40000.0   6.0             1.0      12.0
11759           Fiat   27980.0    7735.0   1.0             1.0      12.0
11582           Fiat   18999.0   26000.0   3.0             1.0      12.0
10690           Fiat   16500.0   47000.0  59.0             2.0      12.0
10536           Fiat    8000.0  141018.0  51.0             2.0       6.0
10719           Fiat    8900.0   54170.0  19.0             1.0      12.0
9659            Fiat    1100.0  147946.0  22.0             2.0      12.0
10623           Fiat    6990.0  116987.0  26.0             3.0      12.0
10755           Fiat    8900.0   57045.0  51.0             1.0       6.0
10598           Fiat    5900.0  122800.0  21.0             1.0      12.0
11335           Fiat    1990.0  342000.0  14.0             4.0       6.0
10678           Fiat   45000.0  100000.0  55.0             2.0       6.0
11244           Fiat    9990.0   78040.0  11.0             1.0      12.0
9632            Fiat    9800.0  107900.0   3.0             1.0      12.0
11023           Fiat   13900.0  143000.0   7.0             1.0      12.0
10875           Fiat   22900.0  133741.0   5.0             1.0      12.0
10679           Fiat    4990.0  130000.0  13.0             4.0       6.0
11365           Fiat    2750.0  188000.0  16.0             2.0      12.0
9694            Fiat   12900.0       1.0   0.0             1.0      21.0
9815            Fiat    4800.0   91100.0  16.0             3.0      12.0
11698           Fiat    7900.0  160000.0   5.0             1.0      12.0
11732           Fiat    5999.0  181662.0  11.0             5.0      12.0
11512           Fiat   12590.0   23627.0   3.0             1.0      12.0
11720           Fiat   48900.0    2000.0  37.0             2.0      12.0
11041           Fiat    5900.0  114000.0  12.0             1.0      12.0
9741            Fiat    1900.0  222649.0  19.0             2.0      12.0
10282           Fiat   18754.0   63353.0   5.0             1.0      12.0
9769            Fiat    2999.0   98000.0  18.0             2.0      12.0
11014           Fiat    9900.0  116358.0  15.0             1.0       6.0
11220           Fiat   29990.0   31370.0   5.0             2.0      12.0
9631            Fiat   13480.0   11400.0   2.0             3.0      12.0
11725           Fiat    3900.0   87000.0  30.0             1.0      12.0
10471           Fiat    9900.0  114658.0  32.0             2.0      12.0
21954           Ford   14490.0    5000.0  94.0             1.0      12.0
21385           Ford   11900.0   54639.0   8.0             2.0      12.0
22560           Ford   87500.0     100.0   0.0             1.0      12.0
23643           Ford   11750.0  112602.0   6.0             2.0      12.0
22516           Ford    6900.0   99000.0  39.0             2.0       3.0
22338           Ford    6990.0   21000.0  23.0             1.0      12.0
23531           Ford   24790.0    3000.0   0.0             1.0      60.0
22733           Ford   33975.0   46705.0   3.0             1.0      12.0
21846           Ford    3995.0  123648.0  28.0             3.0       3.0
22539           Ford   47000.0    8000.0   1.0             1.0      24.0
22791           Ford   79990.0    3500.0   0.0             1.0      36.0
21358           Ford   24999.0  140000.0  17.0             1.0      12.0
21910           Ford   24549.0   42736.0  64.0             1.0      12.0
21535           Ford    3840.0   84762.0  15.0             1.0      60.0
23435           Ford   18990.0   48555.0   3.0             1.0      12.0
21825           Ford   10450.0  108874.0  11.0             1.0      12.0
22204           Ford  430000.0    3166.0  17.0             1.0      12.0
23027           Ford   27470.0   45703.0   4.0             2.0      12.0
22353           Ford   39700.0   25000.0  46.0             1.0      12.0
23225           Ford   19290.0   49200.0   4.0             1.0      60.0
23062           Ford   25180.0   53750.0   4.0             1.0      60.0
21454           Ford    6950.0   69977.0   8.0             5.0      12.0
22684           Ford   20980.0   74000.0   8.0             1.0      12.0
21779           Ford   20000.0   65515.0  93.0             3.0       3.0
22603           Ford   54500.0     100.0   0.0             1.0      12.0
22415           Ford   26750.0  124000.0  65.0             2.0      12.0
23224           Ford   32450.0   26691.0   2.0             1.0      12.0
22487           Ford   66990.0       7.0   0.0             1.0      12.0
23448           Ford   54975.0    6980.0   2.0             2.0      24.0
22486           Ford    5600.0  116572.0  28.0             3.0       3.0
22798           Ford   24700.0   15000.0   1.0             1.0      48.0
22741           Ford   23999.0   55000.0   8.0             2.0      12.0
22726           Ford   62970.0    5000.0   0.0             1.0      12.0
23375           Ford   32690.0   55150.0   3.0             1.0      60.0
23472           Ford   24900.0  110000.0  32.0             2.0       3.0
21891           Ford    5100.0   49243.0  18.0             2.0      12.0
21899           Ford   24800.0   60000.0  67.0             2.0      12.0
23189           Ford   40470.0     100.0   0.0             1.0      12.0
23273           Ford   15990.0   56910.0   5.0             1.0      60.0
23075           Ford   58970.0     100.0   0.0             1.0      24.0
23462           Ford   71750.0    9062.0   1.0             1.0      12.0
23208           Ford   24250.0   45700.0   4.0             1.0      60.0
23297           Ford   17500.0   44626.0   3.0             2.0      12.0
23302           Ford   40450.0       8.0   0.0             1.0      42.0
25205        Hyundai   26000.0   63000.0   5.0             1.0      60.0
25537        Hyundai    3490.0  131000.0  14.0             2.0      12.0
23943        Hyundai    2300.0   72000.0  22.0             1.0      12.0
24803        Hyundai   20880.0    6620.0   1.0             1.0      60.0
24477        Hyundai    2500.0  183000.0  17.0             3.0       3.0
25401        Hyundai   14790.0   54107.0   5.0             1.0      12.0
24437        Hyundai    3990.0   58478.0  24.0             1.0      12.0
25286        Hyundai   23790.0   64961.0   8.0             4.0      12.0
24183        Hyundai   14400.0   69700.0  10.0             1.0       0.0
23874        Hyundai    2625.0  117917.0  18.0             5.0       6.0
24876        Hyundai   17200.0  173000.0   8.0             2.0      12.0
25253        Hyundai   15000.0   99524.0   5.0             1.0      12.0
25242        Hyundai   13500.0  190000.0  11.0             1.0      12.0
23883        Hyundai   23990.0   98990.0   5.0             2.0      12.0
25304        Hyundai   61888.0    1001.0   0.0             1.0      60.0
25594        Hyundai   22900.0      30.0   0.0             1.0      51.0
25567        Hyundai   37500.0      10.0   0.0             1.0      12.0
25250        Hyundai     750.0  161000.0  22.0             3.0      12.0
25657        Hyundai    1250.0  175214.0  18.0             1.0      12.0
24822        Hyundai   75991.0      10.0   0.0             1.0      12.0
24400        Hyundai    4390.0   89015.0  28.0             3.0      12.0
24868        Hyundai   20300.0  103000.0   6.0             2.0      12.0
25499        Hyundai    5950.0   80900.0  15.0             1.0      12.0
24951        Hyundai   53550.0     250.0   0.0             1.0      12.0
24802        Hyundai   20990.0   37500.0   4.0             2.0      12.0
24698        Hyundai    7900.0  150000.0  16.0             3.0      12.0
24314        Hyundai   10000.0   45000.0  15.0             2.0       3.0
25202        Hyundai    2490.0  224000.0  15.0             2.0       3.0
24349        Hyundai   12990.0  140700.0  10.0             3.0       6.0
25473        Hyundai    8490.0   45229.0   6.0             2.0      12.0
24474        Hyundai    3000.0  113000.0  12.0             2.0      12.0
25510        Hyundai   22490.0    2156.0   0.0             2.0       0.0
25047        Hyundai   12990.0  141148.0   5.0             2.0      12.0
25605        Hyundai    9490.0   59044.0   8.0             1.0      12.0
25438        Hyundai   12990.0   66450.0   7.0             2.0      12.0
2035   Mercedes-Benz  115985.0    6511.0   1.0             2.0      24.0
1541   Mercedes-Benz   34900.0   33587.0   4.0             1.0      12.0
2056   Mercedes-Benz   49900.0  105535.0  37.0             2.0      12.0
757    Mercedes-Benz    6950.0  205000.0  18.0             2.0      12.0
786    Mercedes-Benz  129000.0   35633.0  64.0             3.0      12.0
452    Mercedes-Benz   65900.0   96796.0  56.0             2.0      12.0
670    Mercedes-Benz   21920.0  130500.0   9.0             2.0      12.0
2363   Mercedes-Benz   19990.0   61000.0  35.0             3.0      12.0
282    Mercedes-Benz    4900.0  457379.0  37.0             3.0      12.0
1052   Mercedes-Benz    8990.0  292500.0  30.0             3.0      12.0
1073   Mercedes-Benz    9999.0  226500.0  50.0             1.0      12.0
863    Mercedes-Benz   29900.0  191900.0  49.0             2.0      12.0
740    Mercedes-Benz   45000.0   69900.0  39.0             2.0      12.0
141    Mercedes-Benz   15000.0  129000.0   9.0             3.0       6.0
65     Mercedes-Benz    7350.0   61170.0  16.0             2.0      12.0
137    Mercedes-Benz   13900.0  212000.0   6.0             2.0      12.0
220    Mercedes-Benz   26950.0   89805.0   3.0             2.0      12.0
397    Mercedes-Benz   15890.0  146000.0   8.0             1.0      12.0
306    Mercedes-Benz   27990.0   24510.0   3.0             3.0      12.0
296    Mercedes-Benz   36900.0   22250.0   3.0             1.0      12.0
2327   Mercedes-Benz   43890.0   97200.0   2.0             1.0      12.0
290    Mercedes-Benz   35900.0   21000.0   8.0             2.0      24.0
472    Mercedes-Benz  136490.0   20990.0   3.0             2.0      12.0
1729   Mercedes-Benz   16990.0   66000.0   5.0             1.0      12.0
2390   Mercedes-Benz   16799.0  128000.0   5.0             2.0      24.0
1915   Mercedes-Benz   25400.0   53700.0   4.0             1.0      12.0
1934   Mercedes-Benz   34849.0   26050.0   2.0             1.0      24.0
2187   Mercedes-Benz   31950.0   29573.0   3.0             1.0      24.0
2140   Mercedes-Benz   29200.0   20511.0   1.0             1.0      24.0
653    Mercedes-Benz   50900.0    5212.0   0.0             1.0      24.0
1964   Mercedes-Benz   44490.0   21486.0   1.0             1.0      12.0
1069   Mercedes-Benz   27400.0   64581.0   6.0             2.0      24.0
2052   Mercedes-Benz   14990.0  110500.0  13.0             2.0      12.0
1894   Mercedes-Benz   71900.0    5100.0   0.0             1.0      28.0
1665   Mercedes-Benz   16199.0   41731.0  10.0             3.0      12.0
2254   Mercedes-Benz   11800.0  244000.0  13.0             2.0      12.0
1809   Mercedes-Benz   27990.0   85700.0   4.0             1.0      12.0
2020   Mercedes-Benz   19950.0  129205.0  27.0             2.0      12.0
999    Mercedes-Benz   41999.0   38827.0   4.0             3.0      12.0
1145   Mercedes-Benz   72280.0    3003.0   0.0             1.0      24.0
522    Mercedes-Benz   87500.0    8345.0   1.0             1.0      12.0
243    Mercedes-Benz   26990.0   52019.0   4.0             1.0      12.0
1016   Mercedes-Benz   24950.0   80000.0  15.0             1.0      12.0
887    Mercedes-Benz   24999.0  130000.0  14.0             1.0      12.0
813    Mercedes-Benz   32999.0  166000.0  13.0             1.0      12.0
1646   Mercedes-Benz   23500.0   96085.0   4.0             1.0      12.0
1899   Mercedes-Benz   22890.0   64027.0   5.0             2.0      12.0
2121   Mercedes-Benz   37900.0   19000.0   2.0             1.0      12.0
1968   Mercedes-Benz   48490.0   14500.0   0.0             1.0      24.0
1778   Mercedes-Benz   62800.0    2001.0   0.0             1.0      12.0
821    Mercedes-Benz   30999.0   92435.0   6.0             2.0      12.0
1169   Mercedes-Benz   12490.0  107000.0  13.0             2.0      12.0
640    Mercedes-Benz    9999.0  118000.0  18.0             2.0      12.0
756    Mercedes-Benz    8500.0  121000.0  22.0             1.0      12.0
755    Mercedes-Benz   14500.0  110000.0  18.0             2.0      12.0
741    Mercedes-Benz   14900.0  182583.0  14.0             3.0      12.0
1088   Mercedes-Benz    3900.0  344000.0  17.0             2.0      12.0
689    Mercedes-Benz    6999.0  199350.0  16.0             1.0      12.0
1006   Mercedes-Benz   15900.0   48500.0  19.0             3.0      12.0
459    Mercedes-Benz   39999.0  130500.0  17.0             2.0      12.0
853    Mercedes-Benz   44990.0   72600.0  14.0             3.0      12.0
2063   Mercedes-Benz   69950.0   40000.0   3.0             1.0      24.0
1662   Mercedes-Benz   19985.0  194000.0   8.0             1.0      12.0
2143   Mercedes-Benz   12499.0  127976.0  12.0             2.0      12.0
1123   Mercedes-Benz   71850.0    7049.0   2.0             1.0       0.0
874    Mercedes-Benz   14990.0  158939.0  14.0             1.0      12.0
1054   Mercedes-Benz   48990.0   81299.0   3.0             1.0      12.0
901    Mercedes-Benz   60980.0   81214.0   3.0             1.0      12.0
878    Mercedes-Benz   55590.0   78500.0   3.0             1.0      24.0
984    Mercedes-Benz   46500.0   68475.0   5.0             1.0      24.0
1033   Mercedes-Benz   69890.0   48040.0   3.0             1.0      12.0
2038   Mercedes-Benz  108490.0   76500.0   4.0             4.0      12.0
512    Mercedes-Benz   24990.0  103683.0   8.0             1.0      12.0
2123   Mercedes-Benz   29900.0  147710.0   5.0             1.0      12.0
2383   Mercedes-Benz    8990.0   99877.0  30.0             1.0      12.0
2347   Mercedes-Benz    7950.0   98487.0  24.0             1.0      12.0
911    Mercedes-Benz   17450.0  114722.0  11.0             2.0      12.0
2105   Mercedes-Benz   10990.0  143700.0  15.0             1.0      12.0
997    Mercedes-Benz   49980.0    9382.0   3.0             2.0      24.0
2281   Mercedes-Benz    5950.0   96360.0  20.0             2.0      12.0
1719   Mercedes-Benz   20999.0  108835.0  10.0             2.0       6.0
1619   Mercedes-Benz   25499.0  238918.0   4.0             1.0      24.0
1632   Mercedes-Benz   37970.0  144980.0   5.0             2.0      12.0
2384   Mercedes-Benz   44999.0   81520.0   3.0             1.0      24.0
1161   Mercedes-Benz   63900.0   28000.0   1.0             1.0      12.0
454    Mercedes-Benz   19590.0  182000.0  12.0             3.0      12.0
954    Mercedes-Benz  106890.0    9900.0   0.0             1.0      12.0
2014   Mercedes-Benz   49995.0   70000.0   7.0             2.0      12.0
2257   Mercedes-Benz   61485.0    9900.0   0.0             1.0      24.0
1401   Mercedes-Benz   60450.0    7033.0   1.0             1.0      23.0
1329   Mercedes-Benz   70950.0    5454.0   0.0             1.0       0.0
1303   Mercedes-Benz   69200.0    3000.0   0.0             1.0      36.0
1283   Mercedes-Benz   78999.0    9736.0   2.0             1.0      24.0
1777   Mercedes-Benz   87879.0    4499.0   0.0             1.0      12.0
2295   Mercedes-Benz  112444.0   10000.0   0.0             1.0      21.0
2307   Mercedes-Benz   92130.0    5000.0   0.0             1.0      12.0
2084   Mercedes-Benz  152885.0    3900.0   0.0             1.0      24.0
1833   Mercedes-Benz   73950.0    8000.0   1.0             1.0      24.0
1545   Mercedes-Benz   60950.0   15421.0   2.0             2.0      24.0
1482   Mercedes-Benz   39980.0  110000.0  29.0             2.0      12.0
708    Mercedes-Benz   12000.0  242797.0  37.0             2.0      12.0
1421   Mercedes-Benz   71999.0  123973.0   9.0             1.0      12.0
1439   Mercedes-Benz  164710.0   23989.0   1.0             1.0      24.0
1346   Mercedes-Benz  134999.0   84411.0   4.0             1.0      24.0
1299   Mercedes-Benz   89999.0  136900.0  12.0             3.0      12.0
1320   Mercedes-Benz  268900.0    1800.0   0.0             1.0      24.0
1566   Mercedes-Benz  159999.0   44500.0   9.0             2.0       0.0
1510   Mercedes-Benz   17000.0  249000.0  13.0             3.0      12.0
1246   Mercedes-Benz   18780.0  242144.0  11.0             3.0      12.0
1313   Mercedes-Benz   18000.0  315000.0  15.0             1.0      12.0
1319   Mercedes-Benz   23999.0  195325.0  11.0             2.0      12.0
1216   Mercedes-Benz   39800.0  198000.0   8.0             2.0      12.0
1201   Mercedes-Benz   20500.0  202424.0   4.0             1.0      12.0
1537   Mercedes-Benz   26999.0   47445.0   4.0             1.0      12.0
1312   Mercedes-Benz   20440.0  140000.0   8.0             4.0      12.0
1261   Mercedes-Benz   21949.0  125124.0   7.0             2.0      12.0
1287   Mercedes-Benz   62590.0   37450.0   2.0             1.0      24.0
1529   Mercedes-Benz   33490.0   72680.0   7.0             2.0      12.0
1367   Mercedes-Benz   49995.0   17406.0   1.0             2.0      24.0
1429   Mercedes-Benz   62500.0    2497.0   0.0             1.0      48.0
1561   Mercedes-Benz   45450.0    6166.0   2.0             1.0      24.0
1383   Mercedes-Benz   52990.0   11500.0   1.0             1.0      12.0
1504   Mercedes-Benz   64850.0    5723.0   0.0             1.0      12.0
1532   Mercedes-Benz   58470.0    8500.0   0.0             1.0      18.0
1433   Mercedes-Benz   36890.0   80000.0   4.0             1.0      12.0
1163   Mercedes-Benz   49000.0   63800.0   4.0             1.0      24.0
1354   Mercedes-Benz   55900.0   15330.0   2.0             1.0      24.0
1598   Mercedes-Benz   34800.0  114300.0   5.0             1.0      12.0
1523   Mercedes-Benz   62888.0   66000.0   3.0             2.0      12.0
1370   Mercedes-Benz   58940.0   44000.0   3.0             3.0      24.0
956    Mercedes-Benz  112500.0    3000.0   0.0             1.0      24.0
1572   Mercedes-Benz   46850.0   88000.0   5.0             1.0      12.0
1232   Mercedes-Benz   59990.0   65000.0   3.0             1.0      12.0
1298   Mercedes-Benz   43880.0   83821.0   6.0             2.0      12.0
1596   Mercedes-Benz   40499.0  144030.0   4.0             1.0      24.0
896    Mercedes-Benz   62900.0   92764.0   3.0             4.0      12.0
1200   Mercedes-Benz   79995.0   34438.0   2.0             1.0      12.0
1314   Mercedes-Benz   35490.0  152686.0   6.0             1.0      12.0
1278   Mercedes-Benz  115980.0    7225.0   0.0             1.0      24.0

In [34]:
cleaned_df[['comfort_convenience','entertainment_media','extras','safety_security']].sample(10)

,comfort_convenience,entertainment_media,extras,safety_security
24565,"Air conditioning, Armrest, Electrical side mir...","Bluetooth, Hands-free equipment, On-board comp...","Alloy wheels, Catalytic Converter","ABS, Alarm system, Daytime running lights, Dis..."
9428,"Air conditioning, Armrest, Automatic climate c...","CD player, On-board computer, Radio, Sound sys...","Alloy wheels (17""), Cargo barrier, Electronic ...","Adaptive headlights, Alarm system, Bi-Xenon he..."
11875,"Air conditioning, Armrest, Automatic climate c...","Bluetooth, Hands-free equipment, MP3, Radio, USB","Alloy wheels, Touch screen","ABS, Central door lock with remote control, Dr..."
10962,"Air conditioning, Cruise control, Hill Holder,...","Hands-free equipment, On-board computer, Radio...",Alloy wheels,"ABS, Driver-side airbag, Electronic stability ..."
13407,Cruise control,"Bluetooth, USB",NaN,Isofix
8894,"Air conditioning, Armrest, Automatic climate c...","CD player, Radio",Roof rack,"ABS, Central door lock, Central door lock with..."
27251,"Air conditioning, Armrest, Automatic climate c...","CD player, On-board computer, Radio","""Alloy wheels, Automatically dimming interior ...","ABS, Central door lock, Driver-side airbag, El..."
9760,NaN,NaN,NaN,NaN
7499,"Air conditioning, Cruise control, Seat heating","Apple CarPlay, Bluetooth, Sound system",Summer tyres,"Driver-side airbag, Isofix, LED Daytime Runnin..."
2676,"Air conditioning, Armrest, Automatic climate c...","Android Auto, Apple CarPlay, Bluetooth, Digita...","Alloy wheels, Catalytic Converter, Touch scree...","ABS, Bi-Xenon headlights, Central door lock, D..."

In [35]:
def count_items(series):
    """
    Counts the number of items in each entry of a pandas Series.
    Returns None for NaN or empty entries.
    """
    def count_logic(x):
        # Check for NaN or string representation of NaN
        if pd.isna(x) or (isinstance(x, str) and x.lower() == 'nan'):
            return None
        elif isinstance(x, str) and x.strip() == '':
            return None
        else:
            # Split the string by ', ' and return the count
            return len(x.split(', '))
    
    return series.apply(count_logic)

def apply_count_items(df, columns):
    """
    Applies the count_items function to specified columns in a DataFrame.
    """
    for column in columns:
        df[f'{column}_counts'] = count_items(df[column])
    return df

# List of columns to process
columns_to_process = ['comfort_convenience', 'entertainment_media', 'extras', 'safety_security']

# Apply the counting function to relevant columns
cleaned_df = apply_count_items(cleaned_df, columns_to_process)

# Display the DataFrame to check results
result_columns = [f'{col}_counts' for col in columns_to_process]
cleaned_df[result_columns]

,comfort_convenience_counts,entertainment_media_counts,extras_counts,safety_security_counts
7058,12.0,5.0,1.0,15.0
9856,5.0,2.0,3.0,15.0
19680,6.0,3.0,1.0,9.0
22726,18.0,4.0,5.0,19.0
6177,18.0,5.0,6.0,22.0
...,...,...,...,...
8106,NaN,NaN,NaN,NaN
21779,NaN,NaN,1.0,NaN
21954,NaN,NaN,NaN,NaN
25488,19.0,9.0,3.0,24.0
22664,12.0,9.0,3.0,13.0

In [36]:
columns_to_drop = ['comfort_convenience', 'entertainment_media', 'extras', 'safety_security','energy_efficiency_class']  
cleaned_df = cleaned_df.drop(columns_to_drop, axis=1)

In [37]:
def fill_na_with_mean(df, column, group_by_hierarchy):
    """
    Fill NA values in a specified column of a DataFrame by using the mean 
    (rounded to the nearest integer) from a hierarchical grouping approach.

    Parameters:
    - df (DataFrame): The input DataFrame.
    - column (str): The name of the column to fill NA values for.
    - group_by_hierarchy (list of str): A list of column names representing 
      the hierarchy for grouping (from most specific to least specific).
    """
    # Create a copy to avoid modifying the original DataFrame
    df_filled = df.copy()
    
    # Iterate over the group by hierarchy
    for group_by in group_by_hierarchy:
        # Filter rows that still have NA in the target column after previous iterations
        rows_to_fill = df_filled[column].isna()
        
        if rows_to_fill.any():
            # Calculate the mean for each group, ignoring NA values, and round to the nearest integer
            mean_values = df_filled.groupby(group_by)[column].transform(
                lambda x: round(x.mean()) if not x.isnull().all() else np.nan
            )
            
            # Fill NA values in the original DataFrame with the calculated, rounded means
            df_filled.loc[rows_to_fill, column] = mean_values[rows_to_fill]

    # Ensure all values are integers
    df_filled[column] = df_filled[column].round(1)      

        # After hierarchical filling, if any NA remains, fill with the global mean rounded to the nearest integer
        #if df_filled[column].isna().any():
            #global_mean = round(df_filled[column].mean())
            #df_filled[column] = df_filled[column].fillna(global_mean).astype(int)
    
    return df_filled

In [38]:
columns_with_means = ['comfort_convenience_counts', 'entertainment_media_counts', 'extras_counts', 'safety_security_counts'] 

for column in columns_with_means:
    # Apply the function to each column
    cleaned_df = fill_na_with_mean(cleaned_df, column, hierarchy)

# Display DataFrame After Filling NA Values
#print("\nDataFrame After Filling NA Values:")
#print(cleaned_df)

# Optionally, check if any NA values remain
for column in columns_with_means:
    if cleaned_df[column].isna().any():
        print(f"\nWarning: NA values remain in column '{column}' after filling.")
    else:
        print(f"\nAll NA values filled in column '{column}'.")

All NA values filled in column 'comfort_convenience_counts'.

All NA values filled in column 'entertainment_media_counts'.

All NA values filled in column 'extras_counts'.

All NA values filled in column 'safety_security_counts'.

In [39]:
cleaned_df[['comfort_convenience_counts', 'entertainment_media_counts', 
                                  'extras_counts', 'safety_security_counts']].sample(5)

,comfort_convenience_counts,entertainment_media_counts,extras_counts,safety_security_counts
17382,8.0,5.0,4.0,16.0
1515,7.0,1.0,4.0,8.0
10767,1.0,1.0,3.0,1.0
8667,3.0,6.0,1.0,2.0
13602,4.0,2.0,2.0,4.0

In [40]:
analyze_null_values(cleaned_df)

                            Null Count  Null Percentage
make_model                           0              0.0
entertainment_media_counts           0              0.0
comfort_convenience_counts           0              0.0
age                                  0              0.0
categorized_fuel_type                0              0.0
horsepower                           0              0.0
avg_fuel_consumption                 0              0.0
previous_owner                       0              0.0
upholstery                           0              0.0
non_smoker_vehicle                   0              0.0
full_service_history                 0              0.0
empty_weight                         0              0.0
cylinders                            0              0.0
extras_counts                        0              0.0
drivetrain                           0              0.0
gears                                0              0.0
engine_size                          0              0.0
seats                                0              0.0
seller                               0              0.0
gearbox                              0              0.0
mileage                              0              0.0
warranty                             0              0.0
doors                                0              0.0
type                                 0              0.0
body_type                            0              0.0
price                                0              0.0
make                                 0              0.0
co2_emissions                        0              0.0
safety_security_counts               0              0.0

In [42]:
cleaned_df.to_csv('filled_missing_values.csv', index=False)